@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300; }

.grid__container {
  display: grid;
  /* 
    〰〰〰〰〰〰〰〰〰〰 ROW Tracks [HEIGHT] 〰〰〰〰〰〰〰〰〰〰
    〰 '80vh' --> FIRST Grid Item *Row Height* scales with viewport height
    〰 'min-content' --> SECOND Grid Item *Row Height* scales/adapts depending on the content inside it. Same as 'auto' in this case. 🛑 IMPORTANT SPECIALLY IN ROWS 🛑
    〰 '40vw' --> THIRD Grid Item *Row Height* scales with the viewport Width.
    〰 'repeat(3, min-content) --> Next 3 *Row Heights* will adapt to the content inside it
  */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /* 
    〰〰〰〰〰〰〰〰〰〰 COLUMN Tracks [WIDTH] 〰〰〰〰〰〰〰〰〰〰  
    〰 '8rem' -->  FIRST Grid Item *Column Width* of 8rem (80px)

    〰 ' minmax(6rem, 1fr)' -->  A column that takes up the REMAINING WIDTH of the Viewport with a min width of '6rem' inorder to always have space at the left and right of the element(To center the 8 columns layout at the middle of the page)

    〰 'repeat(8, minmax(min-content, 14rem)' --> An 8-Column Grid Layout width max-widths of 14rem (140px) [CAN be lower] and min-width thats never below the main content's width     [CANNOT be lower than content width].              
           ⭐ 'minmax({min-width}, {max-width})' ⭐ 

    〰 ' minmax(6rem, 1fr)' -->   A column that takes up the REMAINING WIDTH of the Viewport with a min width of '6rem' inorder to always have space at the left and right of the element(To center the 8 columns layout at the middle of the page)
  */
  /* 🌟🌟🌟🌟 IMPORTANT --> A very important technique to center the main content of the page (8 columns) is to add two columns, on at the far left and the other at the far right. And give them a *****'minmax({minimum white space as screen shrinks (ie: margin)}, 1fr)'*****. THESE TWO COLUMNS WILL NEVER GET SMALLER THAN 6rem (60px). When there is not enough space, the 8-column layout will start to shrink. ENSURES THAT THERE ALWAYS A MARGIN BETWEEN THE CONTENT AND THE END OF THE PAGE 🌟🌟🌟🌟 */
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-content-start] minmax(6rem, 1fr) [centered-content-start] repeat(8, [column-start] minmax(min-content, 14rem) [column-end]) [centered-content-end] minmax(6rem, 1fr) [full-content-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #c69963;
  color: #f9f7f6;
  border: none;
  border-radius: 0;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #b28451; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  background-color: #c69963; }

.header {
  grid-column: full-content-start / column-end 6;
  background-color: #54483a; }

.realtors {
  grid-column: column-start 7 / full-content-end;
  background-color: #101d2c; }

.features {
  grid-column: centered-content-start / centered-content-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1 / span 2;
    align-self: flex-start;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__images {
  grid-column: full-content-start / column-end 4;
  background-color: #c69963;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg"); }

.story__img--1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 115%;
  align-self: flex-start;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  grid-column: column-end 4 / full-content-end;
  /*
    display: grid;
    align-content: center;
    justify-items: start;
    */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f9f7f6;
  padding: 6rem 8vw; }

.story__text {
  font-size: 1.5rem;
  font-size: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: centered-content-start / centered-content-end;
  background-color: #101d2c; }

.gallery {
  grid-column: full-content-start / full-content-end;
  background-color: #54483a; }

.footer {
  grid-column: full-content-start / full-content-end;
  background-color: #101d2c; }
