// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 56.25em; // 900px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // (10px / 16px) = 62.5% --> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
}

// ------- GRID LAYOUT -------
.grid__container {
  display: grid;

  // 🎭 Use 'vh', 'vw', 'min-content/auto' for Grid Column/Row sizes inorder to make the Grid Layout responsive from the very start and avoid Media Queries.
  /* 
    〰〰〰〰〰〰〰〰〰〰 ROW Tracks [HEIGHT] 〰〰〰〰〰〰〰〰〰〰
    〰 '80vh' --> FIRST Grid Item *Row Height* scales with viewport height
    〰 'min-content' --> SECOND Grid Item *Row Height* scales/adapts depending on the content inside it. Same as 'auto' in this case. 🛑 IMPORTANT SPECIALLY IN ROWS 🛑
    〰 '40vw' --> THIRD Grid Item *Row Height* scales with the viewport Width.
    〰 'repeat(3, min-content) --> Next 3 *Row Heights* will adapt to the content inside it
  */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

  /* 
    〰〰〰〰〰〰〰〰〰〰 COLUMN Tracks [WIDTH] 〰〰〰〰〰〰〰〰〰〰  
    〰 '8rem' -->  FIRST Grid Item *Column Width* of 8rem (80px)

    〰 ' minmax(6rem, 1fr)' -->  A column that takes up the REMAINING WIDTH of the Viewport with a min width of '6rem' inorder to always have space at the left and right of the element(To center the 8 columns layout at the middle of the page)

    〰 'repeat(8, minmax(min-content, 14rem)' --> An 8-Column Grid Layout width max-widths of 14rem (140px) [CAN be lower] and min-width thats never below the main content's width     [CANNOT be lower than content width].              
           ⭐ 'minmax({min-width}, {max-width})' ⭐ 

    〰 ' minmax(6rem, 1fr)' -->   A column that takes up the REMAINING WIDTH of the Viewport with a min width of '6rem' inorder to always have space at the left and right of the element(To center the 8 columns layout at the middle of the page)
  */

  // -----
  // ⭐⭐⭐ IN REAL WORLD --> Many times we only define the 'grid-template-columns' of a grid layout and ignore 'grid-template-rows' because we want the rows to be defined by the size of the content inside it ⭐⭐⭐
  // 🎈 COLUMNS are always more IMPORTANT than ROWS which is why we named them 🎈

  /* 🌟🌟🌟🌟 IMPORTANT --> A very important technique to center the main content of the page (8 columns) is to add two columns, on at the far left and the other at the far right. And give them a *****'minmax({minimum white space as screen shrinks (ie: margin)}, 1fr)'*****. THESE TWO COLUMNS WILL NEVER GET SMALLER THAN 6rem (60px). When there is not enough space, the 8-column layout will start to shrink. ENSURES THAT THERE ALWAYS A MARGIN BETWEEN THE CONTENT AND THE END OF THE PAGE 🌟🌟🌟🌟 */

  // 🛑 ALWAYS NAME COLUMNS, inorder to make it easy to change the layout of the page later on using MEDIA QUERIES 🛑
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-content-start]
    minmax(6rem, 1fr)
    [centered-content-start] repeat(
      8,
      [column-start] minmax(min-content, 14rem) [column-end]
    )
    [centered-content-end]
    minmax(6rem, 1fr)
    [full-content-end];

  // ---- 900px
  @media only screen and (max-width: $bp-large) {
    /* Layout changes for 'max-width: 900px':
       1. Move sidebar to top (create new row) 
       2. Remove side bar column
       3. make the 'header' '100vh' - the 'sidebar' height
       3. Add new row for 'realtors'
       4. add new row for 'story__content'
    */

    /* grid-template-rows: 6rem calc(100vh - 6rem) repeat(7, min-content);  */

    // ---  We dont need 'repeat(7, min-content)' 👆👆 because the grid-layout automatic placement algorithm will take care it (the content will dictate the size/height of the row).
    grid-template-rows: 6rem calc(100vh - 6rem);

    grid-template-columns:
      [full-content-start]
      minmax(6rem, 1fr)
      [centered-content-start] repeat(
        8,
        [column-start] minmax(min-content, 14rem) [column-end]
      )
      [centered-content-end]
      minmax(6rem, 1fr)
      [full-content-end];
  }
}

::selection {
  background-color: $color-secondary;
  color: #fff;
}
