.sidebar {
  // --- Page Layout
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; // From Grid Row Line 1 until the end

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  // ------

  background-color: $color-primary;
}

.nav-btn {
  position: fixed;
  left: 1.5rem;
  cursor: pointer;

  border: none;
  border-radius: 4px;

  height: 2px;
  width: 45px;
  color: #fff;
  background-color: currentColor;
  margin-top: 4rem;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-large) {
    position: static;
    margin-top: 0;
    margin-right: 3rem;
  }

  &:hover {
    color: $color-secondary;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 45px;
    border-radius: 4px;
    background-color: currentColor;
  }

  &::after {
    transform: translateY(-1.5rem);

    @media only screen and (max-width: $bp-large) {
      transform: translateY(-1.4rem);
    }
  }

  &::before {
    transform: translateY(1.3rem);

    @media only screen and (max-width: $bp-large) {
      transform: translateY(1.2rem);
    }
  }
}
