.story {
  &__images {
    // --- Page Layout
    grid-column: full-content-start / column-end 4;

    @media only screen and (max-width: $bp-large) {
      grid-column: full-content-start / full-content-end;
      grid-row: 6 / 7;

      padding: 6rem;
    }
    // ------

    background-color: $color-primary;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url("../img/back.jpg");

    background-size: cover;
  }

  &__img--1 {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img--2 {
    width: 115%;

    align-self: flex-start;
    grid-column: 4 / 7;
    grid-row: 4 / 6;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    @media only screen and (max-width: $bp-large) {
      grid-column: 4 / 7;
      grid-row: 1 / -1;
      align-self: center;
      width: 100%;
    }
  }

  &__content {
    // --- Page Layout
    grid-column: column-end 4 / full-content-end;

    @media only screen and (max-width: $bp-large) {
      grid-column: full-content-start / full-content-end;
      grid-row: 5 / 6;
    }

    /*
    display: grid;
    align-content: center;
    justify-items: start;
    */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: $color-grey-light-1;

    // use 'vw' for padding left/right inorder to make it responsive
    padding: 6rem 8vw;
  }

  &__text {
    font-size: 1.5rem;
    font-size: italic;
    margin-bottom: 4rem;
  }
}
