.story {
  &__images {
    // --- Page Layout
    grid-column: full-content-start / column-end 4;

    background-color: $color-primary;
  }

  &__content {
    // --- Page Layout
    grid-column: column-end 4 / full-content-end;

    background-color: $color-grey-light-1;
  }
}
